@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


@font-face {
    font-family: 'establishRoomNo703OTF';
    src: url('/assets/font/Moneygraphy-Rounded.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
