---
layout: page
---
{% include lang.html %}
<div id="page-category">
  <h1 class="ps-lg-2">
    📂 {{ page.title }}
    <span class="lead text-muted ps-2">{{ page.posts | size }}</span>
  </h1>
  <div class="sr-list">
    {% for post in page.posts %}
      <a href="{{ post.url | relative_url }}" class="sr-item">
        <div class="sr-item-inner">
          <div class="sr-item-meta">
            <i class="far fa-calendar fa-fw"></i>
            {% include datetime.html date=post.date lang=lang %}
            {% if post.categories.size > 0 %}
              <span class="cat-badges">
                {% for category in post.categories %}
                  <span class="cat-badge cat-badge-{{ forloop.index }}">{{ category }}</span>
                {% endfor %}
              </span>
            {% endif %}
          </div>
          <h2 class="sr-item-title">{{ post.title }}</h2>
          <p class="sr-item-desc">{{ post.description | default: post.excerpt | strip_html | truncate: 120 }}</p>
        </div>
      </a>
    {% endfor %}
  </div>
</div>
